<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="transportmanagerport" value="8080" />
    <add key="seedport" value="9000, 9000" />
    <add key="seedhostnametype" value="customize, auto" />
    <add key="hostname" value="0.0.0.0" />
    <add key="persistdb" value="10.28.112.93" />
    <add key="persistdbuid" value="sa" />
    <add key="persistdbpwd" value="/'],lp123/'],lp123" />
    <add key="windowsize" value="15000.0" />
    <add key="majoritynodecount" value="1" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="" value="" />
    <add key="" value="" />
  </appSettings>
</configuration>